<%- include('partials/_head') %>
<body>
  <div class="col-10 col-mx-auto text-align-center">
    <img id="welcome-img" src="https://via.placeholder.com/600x380">
    <div class="main-links">
      <h2 class="d-inline-block">
        <a href="/learn">Learn Bash</a>
      </h2>
      <h2 class="d-inline-block">
        <a href="/practice">Practice Bash</a></h2>
    </div>
  </div>
</body>
</html>
