<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bash Exercises</title>
</head>
<style>
.challenge-title {
  text-decoration: underline; 
}
</style>
<body>
  <h1>Learn Bash!</h1>

  <h2>Easy challenges</h2>
  <ul>
    <% challenges.forEach((challenge) => { %>
      <li>
        <p class="challenge-title">
          <%= challenge.title %>  
        </p>
        <p class="challenge-desc">
          <%= challenge.description %>  
        </p>
        <a href="/challenges/<%= challenge.id %>">
          <button>
            Train
          </button>
        </a>
      </li>

    <% }); %>
  </ul>
</body>
</html>
