<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bash Exercises</title>
</head>
<body>
  <h1>Learn Bash!</h1>
  <h4>Write a program that takes two arguments (numbers) and adds them together, printing the output to stdout.</h4>
  <form method="post" action="/solution">
    <fieldset>
      <label for="code">Your Solution:</label>
<textarea name="code">
#!/bin/bash
# Your code here:
</textarea>
    </fieldset>
    <input type="submit" value="Submit">
  </form>
</body>
</html>

<style>
textarea {
  width: 400px;
  height: 200px;
}
</style>