/* ============================ GENERIC =============================== */
body {
  background-color: #FFF8D0;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: #B20961;
  text-align: center;
  font-size: 3rem;
}

.text-align-center {
  text-align: center;
}

a, a:link, a:visited, a:active {
  color: #B20961;
}

a:hover {
  color: #B20961;
  text-decoration: underline;
}

.btn, .btn:hover {
  border: .05rem solid #B20961;
  color: #3b4351;
}

.label.label-primary {
  background-color: #ffe100;
  color: #3b4351;
}

pre {
  border: .05rem solid #B20961;
  background-color: white;
  padding-top: 10px;
}

.hidden {
  display: none;
}


/* ============================= FLEX OPTIONS ============================ */

.justify-space-between {
  justify-content: space-between;
}

/* ============================= HOME PAGE ============================ */

.main-links h2 {
  margin: 20px;font-family: 'Pacifico', cursive;
  color: #B20961;
  text-align: center;
}

#welcome-img {
  padding: 20px;
}

/* =============================== NAV ============================ */

header {
  background: beige;
  height: 66px;
}

.navbar-center h4 {
  font-family: 'Pacifico', cursive;
  margin: 0;
}

/* =============================== CHALLENGES  ============================ */

.challenge-list li {
  width: 100%;
  background: #f1f1f1;
  border-radius: .1rem;
  padding: 10px;
  list-style-type: none;
  margin-bottom: 60px;
}

.challenge-title {
  font-weight: 600;
}

.example-use, .example-output {
  margin: 12px 0 5px 0;
  font-size: 0.7rem;
  font-weight: 600;
}

/* =============================== CHALLENGE  ============================ */

.challenge-container {
  width: 85%;
}

textarea[name="code"] {
  display: block;
  height: 350px;
  border: .05rem solid #B20961;
  width: 100%;
  background: black;
  color: white;
  font-size: 0.6rem;
  font-family: monospace;
}

textarea[name="code"]:focus {
  box-shadow: none;
  resize: none;
  outline: none;
}

.tests-col {
  max-height: 600px;
  overflow: scroll;
}

.test-example {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
}

.test-output {
  background: black;
  color: white;
  font-size: 0.6rem;
  padding: 5px 0 0 5px;
  margin: 0 0 15px;
}

.test-header {
  font-size: 0.6rem;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 16px;
}

#submit-code {
  width: 200px;
  text-align: center;
}